name: Build and Deploy Google Cloud Run 

on:
    push:
        branches:
            - main
            
env:
    PROJECT_ID: ${{ secrets.PROJECT_ID }}
    RUN_REGION: us-central1
    SERVICE_NAME: cloudquicklabs-gcp-cloudrun

jobs:
    setup-build-deploy:
        name: Setup, Build, and Deploy
        runs-on: ubuntu-latest

        steps:
          - name: Check out repository code
            uses: actions/checkout@v3
            with:
              repository: RekhuGopal/cloudquicklabs-gcp-demo

          - name: Login GCP Account
            uses: google-github-actions/auth@v0.4.0
            with:
                credentials_json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS}}

          - name: Gcloud Set up
            run: |
                gcloud config set project $PROJECT_ID

          - name: Build
            run: |
                gcloud builds submit -t gcr.io/$PROJECT_ID/$SERVICE_NAME:$GITHUB_SHA

          - name: Deploy
            run: |
                gcloud run deploy $SERVICE_NAME \
                  --region $RUN_REGION \
                  --image gcr.io/$PROJECT_ID/$SERVICE_NAME:$GITHUB_SHA \
                  --platform managed